#<com.flow.test.Test: void sink(java.lang.Object)>
#<com.flow.test.Test: int facade(int, int)>
<com.tool.agent.SourceAndSink: void sink(int)>
<com.tool.agent.SourceAndSink: void sink(float)>
<com.tool.agent.SourceAndSink: void sink(double)>
<com.tool.agent.SourceAndSink: void sink(long)>
<com.tool.agent.SourceAndSink: void sink(java.lang.Object)>