#<com.flow.test.Test: int source(int)>
<com.tool.agent.SourceAndSink: java.lang.Object source(java.lang.Object)>
<com.tool.agent.SourceAndSink: int source(int)>
<com.tool.agent.SourceAndSink: char source(char)>
<com.tool.agent.SourceAndSink: short source(short)>
<com.tool.agent.SourceAndSink: byte source(byte)>
<com.tool.agent.SourceAndSink: boolean source(boolean)>
<com.tool.agent.SourceAndSink: float source(float)>
<com.tool.agent.SourceAndSink: double source(double)>
<com.tool.agent.SourceAndSink: long source(long)>